<div class="pull-right">
  <h6><em><small>{{home.timeNow | date: "medium" }}</small></em> </h6>
  <button class="btn btn-xs btn-default" ng-click="home.changeLanguage('en')">EN</button>
  <button class="btn btn-xs btn-default" ng-click="home.changeLanguage('it')">IT</button>
  <button class="btn btn-xs btn-default" ng-click="home.changeLanguage('es')">ES</button>
  <button class="btn btn-xs btn-default" ng-click="home.changeLanguage('de')">DE</button>
</div>

<div class="divider"></div>

<div class="title"><big>C∑</big>{{ home.translations.title }}</div>
<h5>{{home.translations.description }}</h5>

<div class="divider"></div>

<div class="form-group">
  <h4 for="Numbers"><span class="label label-primary">{{ home.translations.numbers }}</span></h4>
  <h4><small>{{ home.translations.insertNumbers }}</small></h4>
  <input type="text" class="form-control" id="numbersArray" ng-model="numbersArray" placeholder="{{ home.translations.numbers }}">


  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="divider"></div>
    <h4 for="Sum"><span class="label label-primary">{{ home.translations.sum }}</span></h4>
    <h4><small>{{ home.translations.desiredSum }}</small></h4>
    <input type="text" class="form-control" id="sum" ng-model="sum" placeholder="{{ home.translations.sum }}">
  </div>
  <div class="divider"></div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <h4 for="Threshold"><span class="label label-default"> {{ home.translations.threshold }} </span></h4>
    <h4><small>{{ home.translations.insertThreshold }}</small></h4>
    <input type="text" class="form-control" id="threshold" ng-model="threshold" placeholder="{{ home.translations.threshold }}">
  </div>
</div>

  <div class="divider"></div>

<div ng-controller="HomeController">
  <div>
    <button button type="button" class="btn btn-info" ng-click="home.runFunction(sum,numbersArray,threshold)"> {{ home.translations.findCombination }} </button>
  </div>
</div>

<!-- Conditionally display Combinations or Closest Combination -->
<div class="panel-body">
  <ul class="list-group">
    <h4 for="Result"><span class="label label-success">{{ home.translations.result }}</span></h4>
    <div  ng-repeat="combination in home.combinations">
      <li class="list-group-item">
        <div class="combination">
          <h5 id = "combination">{{ combination }}
          <button type="button" class="btn btn-default pull-right align-top" ng-click="home.copyResult(combination)"><span class="glyphicon glyphicon-scissors"></span></button>
          </h5>
        </div>
      </div>
    </ul>
  </div>

  <div class="divider"></div>

  <div class="panel-footer">
    <div class="row">
      <p><small>{{ home.translations.createdBy }}: </small><strong>Mario Roncador</strong></p>
      <p><a href="mailto:mario.roncador@icloud.com">Email    </a><a href="https://www.linkedin.com/in/marioroncador/">LinkedIn   </a><a href="https://github.com/MarioRoncador">GitHub</a></p>
    </div>
  </div>
